
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */

/*-----------------------------------------------------------------------------------
01. WordPress Core
-----------------------------------------------------------------------------------*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption,
.gallery-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 98.5%;
    padding:0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    line-height: 28px;
    margin: 10px 0 0;
    padding: 0;
}

.sticky { visibility: inherit; }

.bypostauthor { 
    max-width: 620px;
    border-bottom: 1px solid #eeeeee;
    margin: 0 0 50px 0;
    padding: 0 0 35px 0;
}

.author-title {
    margin: 0 0 0 0;
    color: #000;
    font-size: 0.750em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.author-avatar,
.author-avatar .avatar {
    float: left;
    margin: 0 20px 0 0;
    width: 60px;
    height: 60px;
}

.author-description {
    float: left;
    width: 540px;
    overflow: hidden;
    font-size: 0.875em;
}

.author-description p:last-child {
    margin-bottom: 0;
}

.author-description a {
    font-weight: 700;
    color: #152b3c;
}

.author-description a:hover {
    color: #e32d40;
}

/*-----------------------------------------------------------------------------------
02. Body Defaults
-----------------------------------------------------------------------------------*/

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    background: #f8f8f8;
    color: #888888 !important;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
    word-break: break-word;
    transition:all .1s linear; 
    -o-transition:all .1s linear; 
    -moz-transition:all .1s linear; 
    -webkit-transition:all .1s linear;
}

body a {
    font-weight: 400 !important;
}

img {
    max-width: 100%;
    height: auto;
}

@media \0screen {
  img { 
    width: auto; /* for ie 8 */
  }
}

a,
a img {
    text-decoration: none;
    outline: none;
}

p {
    font-size: 16px;
    line-height: 30px;
    margin: 1.125em 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    color: #000;
}

h1 {
    color: #404040;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 1.5em;
    margin: 20px auto;
    max-width: 740px;
    text-transform: uppercase;
}

h2 {
    color: #404040 !important;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 1.5em;
    margin: 20px auto;
    text-transform: uppercase;
}

h3 {
    color: #3e51ff !important;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 1.5em;
    margin: 0 auto;
    text-transform: uppercase;
}

h4 {
    color: #F8F8F8 !important;
    font-family: 'Montserrat',sans-serif;
    font-size: 30px !important;
    font-weight: 700;
    letter-spacing: 7px !important;
    line-height: 1.5em;
    margin: 0px auto;
    text-transform: uppercase;
}

h5 {
    font-size: 1em; /* 16px */
    line-height: 2.25em; /* 36px */
    margin: 1.125em 0;
}

h6 {
    font-size: 0.875em; /* 14px */
    line-height: 2.5714em; /* 36px */
    margin: 1.2857em 0;
}

.wrap {
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
}

pre {
    font-size: 0.875em;
    line-height: 2.5714em;
    margin: 30px 0;
    padding: 30px;
    background: #F1F0EE;
    border: none;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    border-radius: 6px; 
}

/*-----------------------------------------------------------------------------------
03. Header
-----------------------------------------------------------------------------------*/

.header-wrap {
    background-color: #f8f8f8;
}

header {
    margin: 0 auto;
    padding: 15px 0;
    max-width: 940px;
    border-bottom: 0px solid #eeeeee;
}

/* Header Logo */

.logo {
    float: left;
    margin-top: 4px;
}

.logo:hover {
    opacity: 0.75;
}

.logo h1 {
    margin: 0!important;
    padding: 0;
}

.logo h1 a{ 
    color: #000;
}

/* Full Width Header */

.fullwidth {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Header Menu */

header nav {
    float: right;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 700 !important;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 2px;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline-block;
    position: relative;
}

header nav ul li:hover { 
    visibility: inherit;
}

header nav ul li a {
    color: #999999;
    background: transparent;
    margin: 0 0 0 20px;
    padding: 5px 0 5px 20px;
    font-weight: 700 !important;
}

header nav ul li a:hover {

}


header nav ul a:hover {

}

header nav ul ul {
    position: absolute;
    top: -9999em;
    width: 180px;
}

header nav ul ul li { 
    width: 100%; 
}

header nav ul li .sep {
    position: absolute;
    top: 21px;
    right: -3px;
    color: #aeaeae;
}

header nav ul li:last-child .sep,
header nav ul li.last .sep,
header nav ul ul .sep { 
    display: none;
}

header nav ul li:hover ul,
header nav ul li.sfHover ul {
    left: 40px;
    top: 30px;
    z-index: 99;
}

header nav ul li:hover li ul,
header nav ul li.sfHover li ul,
header nav ul li li:hover li ul,
header nav ul li li.sfHover li ul,
header nav ul li li li:hover li ul,
header nav ul li li li.sfHover li ul { 
    top: -9999em; 
}

header nav ul li li:hover ul,
header nav ul li li.sfHover ul,
header nav ul li li li:hover ul,
header nav ul li li li.sfHover ul,
header nav ul li li li li:hover ul,
header nav ul li li li li.sfHover ul {
    left: 180px;
    top: -1px;
}

header nav ul li.current-cat a,
header nav ul li.current_page_item a,
header nav ul li.current-menu-item a {
    text-decoration: none;
}

header nav ul ul {
    padding: 0;
    background: #fff;
    border: 1px solid #eeeeee;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
}

header nav ul ul li {
    color: #000000;
    line-height: 30px;
    border-bottom: 1px solid #eeeeee;
    float: none;
    background: none;
    padding: 0;
}

header nav ul ul li:last-child { 
    border: 0; 
}

header nav ul ul li a {
    color: #000000!important;
    line-height: 35px;
    height: 35px;
    margin: 0;
}

header nav ul li.sfHover ul a { 
    margin: 0;
    padding: 1.125em 0;
    font-weight: 400;
    color: #494949!important;   
    text-transform: none;
    letter-spacing: 0;
}

header nav ul li.sfHover ul a:hover { 
    color: #aaaaaa; 
}

header nav ul ul ul {
    padding-top: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.sf-sub-indicator {
    background: url('img/sub-menu-retina.png') no-repeat center center transparent;
    background-size: 6px 11px;
    display: inline-block;
    text-indent: -999em;
    margin: -2px 0 0 3px;
}

/*-----------------------------------------------------------------------------------
04. Blog Posts
-----------------------------------------------------------------------------------*/

#content {
    width: 940px;
    margin: 60px auto;
}

#primary {
    width: 940px;
    margin: 0 50px 0 0;
    float: left;
    border-right: 0px solid #eeeeee;
}

/* Post Content */

article.post {
    width: 940px;
    margin: 0 0 60px 0;
    padding: 0 0 50px 0;
    border-bottom: solid 1px #eeeeee;
    clear: both;
}

.post .entry-content {
    width: 940px;
    float: left;
}

/* Featured Image */

.blog-hero {
    max-width: 940px !important;
    margin: 0 0 2.25em 0;
}

.blog-hero img:hover {
    opacity: 0.8;
}

/* Post Title */

.post .entry-title {
    font-size: 18px;
    line-height: 36px;
    font-weight: 700 !important;
    margin: 0 0 0.562em 0;
}

.post .entry-title a{
    color: #404040 !important;
}

.post .entry-title a:hover{
    color: #0060ff !important;
}

/* Post Meta */

.post-meta {
    color: #aaaaaa;
    display: block;
    clear: both;
    display: none;
}

.post-meta p {
    font-size: 0.750em; /* 12px */
    line-height: 2.5714em; /* 36px */
    font-weight: 500;
    margin: 0;
    display: none;
}

.post-meta a {
    color: #aaaaaa!important;
}

.post-meta a:hover {
    color: #E32D40;
}

.entry-content .post-meta a {
    color: #aaaaaa!important;
}

.tags{
    text-transform: lowercase;
}

/* Read More */

.read-more {
    text-align: left;
    font-size: 0.750em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.read-more a {
    color: #394451;
}

.read-more a:hover {
    text-decoration: none;
    color: #E32D40;
}

/* Post Type: Quote */

.format-quote .quote-title {
    font-size: 0.875em;
    line-height: 2.25em;
    text-transform: none;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0;
    color: #494949;
    clear: both;
    display: block;
}

/* Post Type: Link */

.format-link .link-title {
    font-size: 0.875em;
    line-height: 2.25em;
    text-transform: none;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0;
    color: #494949;
    clear: both;
    display: block;
}

/* Post Type: Aside */

article.format-aside {
    padding: 0 0 60px 0;
}

.format-aside .article-content {
    width: 100%;
}

/* Post Type: Video */

.post .video {
    margin: 0 0 30px 0;
}

/* Tag & Category Archives */

page-template page-template-template-archives-php .archive-title,
.archive .archive-title {
    margin-top: 0;
}

/*-----------------------------------------------------------------------------------
05. Single Post
-----------------------------------------------------------------------------------*/

.entry-content a {
    font-weight: 700;
    color: #152B3C;
}

.entry-content a:hover {
    color: #E32D40
}

.entry-content blockquote {

}

.entry-content ul,
.entry-content ol{
    display: block;
    clear: both;
    margin: 1.875em 1.2em;
    padding: 0;
}

.entry-content ul li { 
    list-style-type:square;
}

.entry-content ol li { 
    list-style-type: decimal;
}

/*-----------------------------------------------------------------------------------
06. Pagination
-----------------------------------------------------------------------------------*/

.pagination-default {
    width: 620px;
    clear:both;
    margin: 0;
    text-indent: -9999px;
}

.pagination-default-left a { 
    float: left;
    margin: 0 10px 0 0;
    background: #152B3C url('img/navigation-sprite.png') no-repeat 0 0;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.pagination-default-right a { 
    float: right;
    background: #152B3C url('img/navigation-sprite.png') no-repeat -40px 0;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.pagination-default-left a:hover {
    background: #152B3C url('img/navigation-sprite.png') no-repeat 0 -40px;
}

.pagination-default-right a:hover {
    background: #152B3C url('img/navigation-sprite.png') no-repeat -40px -40px;
}

/*-----------------------------------------------------------------------------------
07. Comment List
-----------------------------------------------------------------------------------*/

.commentlist {
    width: 620px;
    clear: both;
}

.comments-meta h4  {
    margin: 0 0 60px 0;
    
}

.commentlist article {
    max-width: 620px;
    margin: 0 0 60px 0;
    padding: 0 0 60px 0;
    border-bottom: 1px solid #eeeeee;
}

.commentlist cite {
    font-weight: 700;
    font-style: normal;
}

.commentlist img.avatar {
    margin: 0 20px 0 0;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    float: left;
}

.commentlist .meta {
    font-size: 0.875em;
    line-height: 2.5714em;
}

.commentlist .meta a {
    font-weight: 700;
}

.entry_info{
    overflow: hidden;   
}

.entry_info p:first-child {
    margin-top: 0;
}

.entry_info p:last-child {
    margin-bottom: 0;
}

.commentlist .depth-2{
    margin-left: 13%;
}

.commentlist .depth-3 {
    margin-left: 26%;
}

.commentlist .depth-4{
    margin-left: 39%;
}

.commentlist .depth-5{
    margin-left: 51.7%;
}

/*-----------------------------------------------------------------------------------
08. Comment Form
-----------------------------------------------------------------------------------*/

#respond {
    margin: 60px 0;
    clear: both;
}

#respond label {
    display: block;
    margin: 0.9375em 0;
}

#respond input[type="text"],
#respond input[type="email"],
#respond input[type="url"]{
    border: 1px solid #D8DDE1;
    outline: none;
    width: 95%;
    margin: 0.9375em 0;
    padding: 10px 10px 10px 20px;
    font-size: 14px;
    color: #494949;
    display: block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#respond textarea {
    border: 1px solid #D8DDE1;
    outline: none;
    width: 93%;
    margin: 0.9375em 0;
    padding: 20px;
    font-size: 14px;
    line-height: 2.25em;
    color: #494949;
    display: block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.form-allowed-tags,
.comment-notes{
    display: none;
}

#respond input[type="submit"] {
    font-size: 14px;
    margin: 1.875em 0;  
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-appearance: none;
}

#respond input[type="submit"]:hover {
    background-color: #E0645C;
}

/*-----------------------------------------------------------------------------------
09. Page Template - Default
-----------------------------------------------------------------------------------*/

#primary article.page {
    max-width: 940px;
    margin: 0 0 0 0;
    padding: 0 0 60px 0;
    clear: both;
}

#primary article.page .entry-title,
.search .entry-title {
    margin-top: 0;
    display: none;
}

/*-----------------------------------------------------------------------------------
10. Page Template - Full
-----------------------------------------------------------------------------------*/

.page-template-template-full-width-php #primary {
    width: 940px;
    border: none;
}

.page-template-template-full-width-php #primary article {
    max-width: 940px;
}

/*-----------------------------------------------------------------------------------
11. Page Template - Contact
-----------------------------------------------------------------------------------*/

#contact {
    margin: 60px 0;
    clear: both;
}

.contact label {
    display: block;
    margin: 0.9375em 0;
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="url"]{
    border: 0px solid #bebebe;
    outline: none;
    width: 90%;
    margin: 0.9375em 0;
    padding: 20px;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    display: block;
}

.contact textarea {
    border: 0px solid #bebebe;
    outline: none;
    width: 90%;
    margin: 0.9375em 0;
    padding: 20px;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 2.25em;
    color: #999999;
    display: block;
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact input[type="url"]:focus,
.contact textarea:focus {
    color: #404040;
    background: #ffffff !important;
    border: 2px solid #bebebe;
}

.contact input[type="submit"] {
    font-size: 12px;
    margin: 0px 0;  
    padding: 20px 30px;
    background-color: #404040;
    color: #f8f8f8;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.contact input[type="submit"]:hover {
    background-color: #0060ff;
}

label.error {
    width: 100%;
    color: #df102c;
}

/*-----------------------------------------------------------------------------------
12. Page Template - Home
-----------------------------------------------------------------------------------*/

.page-template-template-home-php .fullwidth {
    margin-bottom: 60px;
}

/* Homepage - Feature Image Container */

.home-fullwidth {
    width: 100%;
    max-height: 450px;
    overflow: hidden;
    margin: 0 0 60px 0;
    position: relative;
}

/* Homepage - Feature Image */

.home-featuredimage {
    margin: 0 auto;
}

.home-featuredimage img{
    width: 100%;    
}

/* Homepage - Welcome Message */

.home-message {
    max-width: 900px;
    margin: 13% auto;
    color: #f8f8f8 !important;
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 8px !important;
    text-transform: uppercase;
}


.home-message h3 {
    font-color: #f8f8f8 !important;
    line-height: 48px !important;
}

.home-message h1,
.home-message h2,
.home-message h4 {
    font-size: 1.5em; /* 16px */
    line-height: 1.5em; /* 36px */
    font-weight: 700;
    margin-top: 0;
    letter-spacing: 4px;
    color: #fff!important;
}

.home-message p {
    color: #F8F8F8;
    font-size: 14px;
    font-weight: 400 !important;
    letter-spacing: 4px;
    line-height: 1.5em;
}

.home-message a {
    color: #fff;
    font-weight: 700;
}

.home-message a:hover {
    color: #E0645C;
}

/* Homepage - Projects */

.home-projects {
    width: 980px;
    margin: 0 auto;
    padding: 10px 0 80px 40px;
}

.home-projects .widget-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em; /* 20px */
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 0 auto;
    display: block;
}

.home-projects article {
    float: left;
    width: 460px;
    height: 460px;
    margin: 0 20px 20px 0;
}

.home-projects .entry-title {
    color: #F8F8F8 !important;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: -20px;
    text-transform: none;
}

.home-projects .mosaic-block {
    float: left;
    position: relative;
    overflow: hidden;
    width: 460px;
    height: 460px;
}

.home-projects .mosaic-backdrop {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
    
.home-projects .mosaic-overlay {
    display: none;
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: none;
}

.home-projects .details {
    margin: 50% 0 0 0;
    text-align: center;
}

.home-projects .fade .mosaic-overlay {
    height: 100%;
    opacity: 0;
    width: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter: alpha(opacity=00);
    background: url(http://weareadaptable.com/wp-content/uploads/2013/07/blue2.png);    
}

.home-projects .fade {
    opacity: 1;
}

/* Homepage - Featured Pages */

.home-posts-fullwidth {
    background: none repeat scroll 0 0 #F8F8F8;
    border-top: 0 solid #EEEEEE;
    margin: 0;
    padding: 80px 0;
    position: relative;
    width: 100%;
}

.home-posts .widget-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em; /* 20px */
    line-height: 1.5em;
    letter-spacing: 4px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 0 auto;
    display: block;
}

.home-posts {
    width: 980px;
    margin: 0 auto;
    padding: 0 0 0 40px;
}

.home-posts article {
    margin: 0 20px 20px 0;
    padding: 0;
    width: 300px;
    float: left;
    text-align: center;
    background: transparent;
    border-bottom: none;
    clear: none;
}

.home-posts .blog-hero {
    text-align: center;
}

.home-posts article.page .entry-title {
    margin: 0.75em auto;
}

/* Homepage - Caption */

.home-caption {
    width: 940px;
    margin: 0 0 70px 0;
    text-align: center;
}

.home-caption p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #999999;
    letter-spacing: 1px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.home-caption a {
    color: #152B3C;
    font-weight: 700;
}

.home-caption a:hover {
    color: #E0645C;
}

.seperator {
    width: 460px;
    height: 2px;
    margin: 25px auto 25px auto;
    background: #000;
    
}

/*-----------------------------------------------------------------------------------
13. Portfolio Taxonomy Archive
-----------------------------------------------------------------------------------*/

.tax-portfolio-type #content {
    width: 980px;
    padding: 0 0 0 40px;
}

.portfolio-taxonomy-term {
    max-width: 940px;
    margin: 10px 0 90px 0;
    text-align: center;
}

.portfolio-taxonomy-term p {
    max-width: 620px;
    margin: 0 auto;
}

.portfolio-taxonomy .widget-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em; /* 20px */
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 0 auto;
    display: block;
}

.portfolio-taxonomy article {
    float: left;
    width: 460px;
    height: 460px;
    margin: 0 20px 20px 0;
}

.portfolio-taxonomy .entry-title {
    font-size: 1.5em; /* 24px */
}

.portfolio-taxonomy .mosaic-block {
    float: left;
    position: relative;
    overflow: hidden;
    width: 460px;
    height: 460px;
}

.portfolio-taxonomy .mosaic-backdrop {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
    
.portfolio-taxonomy .mosaic-overlay {
    display: none;
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: none;
}

.portfolio-taxonomy .details {
    margin: 50% 0 0 0;
    text-align: center;
}

.portfolio-taxonomy .fade .mosaic-overlay {
    width: 420px;
    height: 420px;
    margin: 20px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter: alpha(opacity=00);
    background: url(img/bg-white.png);  
}

.portfolio-taxonomy .fade {
    opacity: 1;
}

.tax-portfolio-type .pagination-default {
    width:  96%;
}

/*-----------------------------------------------------------------------------------
14. Page Template - Paginated Portfolio
-----------------------------------------------------------------------------------*/

.page-template-template-portfolio-paginated-php #content {
    width: 980px;
}

.portfolio-paginated {
    width: 980px;
    margin: 0 auto 60px auto;
    padding: 0 0 0 40px;
}

/* Portfolio Welcome Message */

.tj_portfolio_welcome {
    max-width: 940px;
    margin: 10px 0 90px 0;
    text-align: center;
}

.tj_portfolio_welcome h1,
.tj_portfolio_welcome h2,
.tj_portfolio_welcome h3,
.tj_portfolio_welcome h4 {
    font-size: 1.25em; /* 16px */
    line-height: 1.5em; /* 36px */
    font-weight: 700;
    letter-spacing: 4px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    max-width: 620px;
    margin: 0 auto;
}

.tj_portfolio_welcome p {
    color: #999999;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;

}

.tj_portfolio_welcome a {
    color: #152B3C;
    font-weight: 700;
}

.tj_portfolio_welcome a:hover {
    color: #E0645C;
}

/* Portfolio Items */

.portfolio-paginated article {
    float: left;
    width: 460px;
    height: 460px;
    margin: 0 20px 20px 0;
}

.portfolio-paginated .entry-title {
    color: #F8F8F8 !important;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: -20px;
    text-transform: none;
}

.portfolio-paginated .mosaic-block {
    float: left;
    position: relative;
    overflow: hidden;
    width: 460px;
    height: 460px;
}

.portfolio-paginated .mosaic-backdrop {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
    
.portfolio-paginated .mosaic-overlay {
    display: none;
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: none;
}

.portfolio-paginated .details {
    margin: 50% 0 0 0;
    text-align: center;
}

.portfolio-paginated .fade {
    opacity: 1;
}

.portfolio-paginated .fade .mosaic-overlay {
    height: 100%;
    opacity: 0;
    width: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter: alpha(opacity=00);
    background: url(http://weareadaptable.com/wp-content/uploads/2013/07/blue2.png);        
}

/* Portfolio Pagination */

.portfolio-paginated .pagination-default {
    width: 96%;
}

/* Client Testimonials */

.testimonial {
    padding: 0;
    text-align: center;
}

.testimonial-title {
    max-width: 940px;
    margin: 10px 0 70px 0;
    text-align: center;
}

.testimonial #tj-testimonials {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 40px 0 0;
    background: none;
}

.testimonial .flexslider ul {
    min-height: auto;
    background: none;
}

.testimonial .widget-title {
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 4px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    max-width: 620px;
    margin: 0 auto;
}

h5.testimonial-meta {
    color: #aaaaaa;
}

.testimonial-meta a {
    color: #aaaaaa;
}

/*-----------------------------------------------------------------------------------
15. Single Portfolio
-----------------------------------------------------------------------------------*/

.single-portfolio #primary {
    width: 940px;
    border: none;
}

/* Portfolio Content */

.single-portfolio .entry-content {
    max-width: 940px;
    margin: 10px auto 0 auto;
    text-align: center;
}

.single-portfolio .entry-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 0 auto;
    display: block;
}

/* Single Portfolio Meta */

.single-portfolio .post-meta p {
    margin: 0 0 0 0;
}

/* Portfolio Images, Galleries, Videos, Audio */

.portfolio-media {
    margin: 0 0 2.25em 0;
    text-align: center;
}

/* Portfolio Navigation */

.pagination-portfolio {
    max-width: 940px;
    margin: 0 auto;
    font-size: 0.750em;
    color: #aaa;
}

.pagination-portfolio-left p {
    width: 50%;
    float: left;
    text-align: left;
}

.pagination-portfolio-right p {
    width: 50%;
    float: right;
    text-align: right;
}

.pagination-portfolio p a {
    color: #aaa;
}

/* Related Portfolios */

.portfolio-related {
    width: 980px;
    margin: 80px auto 40px auto;
    padding: 10px 0 80px 0;
}

.portfolio-related-title {
    max-width: 940px;
    margin: 10px 0 80px 0;
    text-align: center;
}

.portfolio-related-title .widget-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em !important;
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 0 auto;
    display: block;
}

.portfolio-related article {
    float: left;
    width: 460px;
    height: 460px;
    margin: 0 20px 20px 0;
}

.portfolio-related .entry-title {
    color: #F8F8F8 !important;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: none !important;
    margin-top: -20px;
}

.portfolio-related .mosaic-block {
    float: left;
    position: relative;
    overflow: hidden;
    width: 460px;
    height: 460px;
}

.portfolio-related .mosaic-backdrop {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
    
.portfolio-related .mosaic-overlay {
    display: none;
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: none;
}

.portfolio-related .details {
    margin: 50% 0 0 0;
    text-align: center;
}

.portfolio-related .fade .mosaic-overlay {
   height: 100%;
    opacity: 0;
    width: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter: alpha(opacity=00);
    background: url(http://weareadaptable.com/wp-content/uploads/2013/07/blue2.png);        
}

.portfolio-related .fade {
    opacity: 1;
}

/*-----------------------------------------------------------------------------------
16. Custom TJ Widgets
-----------------------------------------------------------------------------------*/

/* Generic Widget Setup */

.widget {
    margin: 0 0 60px 0;
    padding: 0;
    color: #494949;
}

.widget .widget-title {
    margin: 0 0 1.125em 0;
    color: #000;
    font-size: 0.750em; /* 12px */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget ul li {
    font-size: 1em;
    line-height: 2.25em;
    margin: 0 0 0.562em 0;
    color: #494949;
}

.widget ul li:last-child {
    margin-bottom: 0;
}

.widget_archive ul li:before,
.widget_categories ul li:before,
.widget_recent_entries ul li:before {
    color: #aaa;
    margin: 0 10px 0 0;
}

/* Footer Widget Setup */

footer .widget {
    margin: 0;
    padding: 60px 0 0 0;
    max-width: 90%;
    color: #fff;
}

footer .widget .widget-title {
    margin: 0 0 30px 0;
    color: #fff;
    font-size: 0.750em; /* 12px */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
}

/* Text Widget */

.widget_text a {
    font-weight: 700;
    color: #000;
}

footer .widget_text a {
    font-weight: 700;
    color: #fff;
}

/* Search */

.widget #searchform input[type="text"] {
    margin: 0;
    padding: 10px 15px;
    width: 85%;
    position: relative;
    background: #fff;
    border: 1px solid #eeeeee;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px
    font-weight: 400;
    color: #999999;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/* TJ Recent Portfolios */

.tj_recent_portfolios_widget {
    margin-right: -60px;
}

.tj_recent_portfolios_widget .widget-title {
    margin-bottom: 2.6em;
}

.tj_recent_portfolios_widget article {
    float:left;
    width:56px;
    height:56px;
    background: #fff;
    border: 1px solid #eee;
    overflow: hidden;
    margin: 0 14px 20px 0;
    padding: 3px;
}

.tj_recent_portfolios_widget article:hover {
    background-color: #E0645C;
}

/* TJ Recent Tweets */

.tj_tweet_widget .widget-title {
    margin-bottom: 1.6em;
}

.tj_tweet_widget ul li {
    list-style-type: none;
    padding-bottom: 1.125em;
    border-bottom: 1px solid #eee;
}

.tj_tweet_widget ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.tj_tweet_widget .status a {
    font-weight: 700;
    color: #fff;
}

.tj_tweet_widget .status a:hover {
    color: #E0645C;
}

.twitter-meta {
    font-size: 0.750em;
    color: #aaaaaa;
    font-weight: normal;
}

footer .twitter-meta {
    color: #eee;
    font-weight: 700;
}

.tj_tweet_widget .twitter-follow a {
    padding: 5px 20px;
    background: #000;
    color: #fff!important;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.tj_tweet_widget p.twitter-follow {
    margin: 35px 0 0 0!important;
}

/* TJ Flickr */

.tj_flickr_widget .flickrwidget .flickrwidget-inner {
    margin-right: -60px;
    display: inline-block;
    clear: both;
}

.tj_flickr_widget .widget-title {
    margin-bottom: 2.6em;
}

.tj_flickr_widget .flickrwidget .flickr_badge_image {
    float:left;
    width:56px;
    height:56px;
    background: #fff;
    border: 1px solid #eee;
    overflow: hidden;
    margin: 0 15px 20px 0;
    padding: 3px;
}

.tj_flickr_widget .flickrwidget .flickr_badge_image:hover {
    background-color: #E0645C;
}

/* TJ Posts Widget - Sidebar */

.tj-posts-widget {
    clear: both;
    display: block;
}

.tj-posts-widget article {
    width: 100%;
    max-width: 100%;
    margin: 0.562em 0;
    padding-bottom: 1.125em;
    border-bottom: solid 1px #eeeeee;
    float: left;
    clear: both;
}

.tj-posts-widget article:first-child {
    border-bottom: none;
    margin: 0;
}

.tj-posts-widget article:last-child {
    border-bottom: none;
    margin: 0;
}

.tj-posts-widget-featured-img {
    width: 60px;
    height: 60px;
    margin: 0 20px 0 0;
    float: left;
}

.tj-posts-widget-featured-img img:hover {
    opacity: 0.8;
}

.tj-posts-widget-post-title h4 {
    font-size: 1em;
    margin: 0 0 0.75em 0;
    color: #000;
    overflow: hidden;
    display: block;
}

/* Sidebar - WP Tag Cloud */

.widget_tag_cloud {
    display: block;
    clear: both;
}

.widget_tag_cloud .tagcloud a { 
    font-size: 14px!important;
    margin: 0 10px 10px 0;
    padding: 0 10px;
    display: inline-block;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #ffffff;
}

.widget_tag_cloud .tagcloud a:hover {
    text-decoration: none;
    opacity: 0.8;
}

/*-----------------------------------------------------------------------------------
17. Sidebar
-----------------------------------------------------------------------------------*/

#sidebar {
    width: 210px;
    float: left;
    font-size: 0.875em;
    line-height: 2.5714em;
}

#sidebar p:last-child,
#sidebar .widget p:last-child {
    margin-bottom: 0;
}

#sidebar a {
    color: #aaa;
}

#sidebar a:hover {
    color: #E32D40;
}

/*-----------------------------------------------------------------------------------
18. Footer
-----------------------------------------------------------------------------------*/

/* Footer Container */

#footer {
    margin: -10px auto;
    padding: 30px 0;
    background: #2e2e2e;
    font-size: 0.875em; /* 14px */
    line-height: 2.5714em; /* 36px */
    color: #fff;
}

#footer p:last-child,
#footer .widget p:last-child {
    margin-bottom: 0;
    color: #555555;
    font-size: 16px;
    line-height: 24px;
}

#footer a {
    color: #aaa;
}

#footer a:hover {
    color: #E32D40;
}

/* Footer Wrapper */

.footer-inner {
    width: 940px;
    margin: 0 auto;
}

/* Footer Left */

.footer-left {
    float: left;
    width: 50%;
}

/* Footer Left - Copyright */

p.tj-credit {
    margin-top: -1.75em;
    margin-bottom: 1.125em!important;
}

/* Footer Right */

.footer-right {
    float: right;
    width: 50%;
    text-align: right;
}

/* Footer Right - Menu */

#footer nav {
    float: right;
    margin: 2.5em 0 0 0;
    font-size: 0.750em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#footer nav ul{
    list-style: none;
}

#footer nav ul li{
    float: left;
    margin: 0 0 0 20px;
    color: #fff;
}

/*-----------------------------------------------------------------------------------
19. Flexslider Styles
-----------------------------------------------------------------------------------*/

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles */
.flexslider {margin: 0; padding: 0; width: 100%;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position: relative; list-style-type: none; } 
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme */
.flexslider { position: relative; zoom: 1; min-height: 400px; background: transparent url('img/loading-full.gif') center center no-repeat; }

/* Direction Nav */

.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Slider */

.flexslider ul {
    margin: 0 0 50px 0; 
    width: 100%; 
    height: auto;
}

/* Direction Nav */

.flexslider .flex-direction-nav > li {
    list-style-type: none;
}

.flex-direction-nav li a {
    width: 40px; 
    height: 40px;
    margin: 0; 
    display: block; 
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #000 url(img/navigation-sprite.png) no-repeat 0 0; 
    position: absolute;
    bottom: 30px; 
    cursor: pointer; 
    text-indent: -9999px; 
    opacity: 1; 
    outline: none; 
    border: none; 
    text-decoration: none;
    list-style-type: none;
}

.flex-direction-nav li a:hover { 
    outline: none; 
    border: none; 
    text-decoration: none; 
    background-color: #fff;
}

.flex-direction-nav .flex-next {
    background-position: 100% 0; 
    right: 30px; 
}

.flex-direction-nav .flex-prev {
    right: 80px;
}

.flex-direction-nav .flex-next:hover {
    background-position: -40px -40px; 
}

.flex-direction-nav .flex-prev:hover {
    background-position: 0 -40px; 
}

/*-----------------------------------------------------------------------------------
20. ThemeJug Shortcodes
-----------------------------------------------------------------------------------*/

.tj-button.tj-black,
.tj-button.tj-yellow,
.tj-button.tj-green,
.tj-button.tj-red,
.tj-button.tj-orange,
.tj-button.tj-blue,
.tj-button.tj-white {
    border-bottom: none;
}

/*-----------------------------------------------------------------------------------
21. jPlayer
-----------------------------------------------------------------------------------*/

.jp-jplayer {
    clear: both;
    display: block;
    min-height: auto;
}

/* Blog Player */

.format-video .jp-jplayer,
.format-audio .jp-jplayer  {
    min-height: 300px;
}

/* Blog Portfolio */

.single-portfolio .jp-jplayer {
    min-height: 400px;
}


div.jp-jplayer.jp-jplayer-video {
    clear: both;
    width: 100%;
}

.jp-audio-container, 
.jp-video-container {
    margin: 0 auto;
    position: relative;
}

div.jp-interface {
    background: #000;
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
    margin: 0 auto 0 auto;
    position: absolute;
    bottom: 40px;
    left: 20px;
    z-index: 100;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* Blog Player UI */

.format-video div.jp-interface,
.format-audio div.jp-interface {
   width: 93%;  
}

/* Blog Portfolio UI */

.single-portfolio div.jp-interface {
    width: 96%;
}

.jp-interface {
    height: 40px;
}
 
.type-post .jp-controls {
    margin: 0 auto;
}

.jp-controls {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.jp-controls li {
    display: inline;
}

.jp-controls a {
    border-bottom: medium none;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
}

.jp-controls a:hover {
    background-color: transparent!important;
}

a.jp-play, 
a.jp-pause {
    height: 40px;
    left: 0;
    outline: none;
    top: 0;
    width: 40px;
    z-index: 1;
    border: none!important;
}

a.jp-play {
    background: url(img/jplayer/jplayer-sprite-retina.png) no-repeat scroll 5px 5px transparent;
    background-size: 66px 250px;
}

a.jp-play:hover {
    background-position: -29px 5px;
}

a.jp-pause {
    background: url(img/jplayer/jplayer-sprite-retina.png) no-repeat scroll 5px -25px transparent;
    background-size: 66px 250px;
    display: none;
}

a.jp-pause:hover {
    background-position: -28px -25px;
}

.jp-progress-container {
    height: 6px;
    left: 34px;
    padding: 17px 10px;
    position: absolute;
    top: 0;
    width: 83%;
}

.jp-progress {
    background: url(img/jplayer/jplayer-sprite-retina.png) repeat-x scroll 0 -192px transparent;
    background-size: 66px 250px;
    height: 4px;
    padding: 1px;
    position: absolute;
    width: 88%;
}

.portfolio .jp-progress {
    width: 100%;
}

.jp-seek-bar {
    background: url(img/jplayer/jplayer-sprite-retina.png) repeat-x scroll 0 -163px transparent;
    background-size: 66px 250px;
    cursor: pointer;
    height: 5px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.jp-play-bar {
    background: url(img/jplayer/jplayer-sprite-retina.png) repeat-x scroll 0 -133px transparent;
    background-size: 66px 250px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    height: 5px;
    width: 0;
}

.jp-volume-bar-container {
    height: 6px;
    padding: 12px 10px;
    position: absolute;
    right: 20px;
    top: 4px;
    width: 40px;
}

.jp-volume-bar {
    background: url(img/jplayer/jplayer-sprite-retina.png) repeat-x scroll 0 -192px transparent;
    background-size: 66px 250px;
    cursor: pointer;
    height: 9px;
    left: 18px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 40px;
}

.jp-volume-bar-value {
    background: url(img/jplayer/jplayer-sprite-retina.png) repeat-x scroll 0 -133px transparent;
    background-size: 66px 250px;
    border-radius: 1px 1px 1px 1px;
    height: 5px;
    margin: 1px;
    width: 0;
}

a.jp-mute, 
a.jp-unmute {
    height: 18px;
    outline: medium none;
    right: 60px;
    top: 11px;
    width: 17px;
    z-index: 1;
    border: none!important;
}

a.jp-mute {
    background: url(img/jplayer/jplayer-sprite-retina.png) no-repeat scroll -10px -64px transparent;
    background-size: 66px 250px;
}

a.jp-mute:hover {
    background-position: -43px -68px;
}

a.jp-unmute {
    background: url(img/jplayer/jplayer-sprite-retina.png) no-repeat scroll -10px -98px transparent;
    background-size: 66px 250px;
}

a.jp-unmute:hover {
    background-position: -43px -98px;
}



.Flexible-container {
    position: relative;
    padding-bottom: 7%;
    padding-top: 30px;
    height: 350px;
    overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%#
    height: 100%;
}


iframe { 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%) !important;
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}
